* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

body{
    background-color: #1f242b;
}

.mobile{
    display: none;
}

article.header{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

header.header{
    position: absolute;
    display: flex;
    width: 100%;
    padding: 25px 0;
    z-index: 99;
}

.logo{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 80px;
}

nav.navigation_header{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navigation_header ul{
    display: flex;
    list-style-type: none;
}

nav.navigation_header ul li{
    padding: 0 20px;
}

nav.navigation_header ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.button_header{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.button_header a{
    font-size: 20px;
    color: #1f242b;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 20px;
}

.header_left{
    padding: 100px 40px 0 40px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;

}

.header_left article{
    flex-basis: 55%;
    position: relative;
    z-index: 999;
}

.header_left article h1{
    color: #fff;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 32px;
}

.header_left article span{
    color: #fff;
    font-size: 23px;
}

.header_right{
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    background-color: #0058aa;
}

.header_left .img_hero{
    width: 45%;
    z-index: 999;
}

.img_hero img{
    width: 95%;
    max-height: 100%;
    transform: translateX(-10%);
}

section.about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 110px;
}

.my_photo{
    flex-basis: 50%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.my_photo h1,
.my_photo .line{
    display: none;
}

.container_my_photo{
    flex-basis: 80%;
    -webkit-box-shadow: -40px 40px 5px 0px rgba(0, 88, 170,1);
    -moz-box-shadow: -40px 40px 5px 0px rgba(0, 88, 170,1);
    box-shadow: -40px 40px 5px 0px rgba(0, 88, 170,1);      
}

.container_my_photo img{
    width: 100%;
}

article.about{
    flex-basis: 50%;
}


article.about header.header_about{
    width: 100%;
    text-align: center;
    padding-left: 20px;
    display: flex;
    align-items: flex-end;
}

article.about header h1,
.my_photo h1{
    text-align: left;
    color: #fff;
    font-size: 40px;
    flex-basis: 50%;
}

.line{
    flex-basis: 50%;
    height: 5px;
    background-color: #0058aa;
}

article.about span{
    color: #fff;
    width: 100%;
    margin-top: 40px;
    display: block;
    padding-left: 20px;
    font-size: 25px;
}

article.about .button_whats{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

article.about .button_whats a{
    display: inline-block;
    padding: 20px 30px;
    background-color: #0058aa;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}

section.my_service{
    width: 100%;
    margin-top: 160px;
}

section.my_service article.header_title{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 40px;
}

article.cards_services{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    flex-basis: 20%;
    padding: 20px;
    background-color: #0058aa;
    border-radius: 20px;
    margin: 40px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-shadow: -30px 30px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -30px 30px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -30px 30px 5px 0px rgba(0,0,0,0.75);
}

.card img{
    width: 50%;
}

.card span{
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    display: block;
    flex-basis: 100%;
    text-align: center;
}

section.my_skills{
    width: 100%;
    margin-top: 160px;
}

article.header_title_skills{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 40px;
}

article.technology{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.icon_technology{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.icon_technology img{
    width: 80%;
    animation: floating 3s infinite;
}

.shadow{
    display: none;
    width: 60%;
    border-radius: 80%;
    padding: 8px;
    background-color: rgba(0,0,0,0.15);
}

@keyframes floating {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}

.line_technology{
    flex-basis: 90%;
    height: 5px;
    background-color: #0058aa;
    margin-top: 10px;
}

.description_technology{
    flex-basis: 80%;
    padding: 20px;
}

.description_technology header{
    color: #fff;
    margin-top: 30px;
}

/* .description_technology:nth-of-type(2n -1) header h2{
    text-align: right;
} */

.description_technology span{
    color: #fff;
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

.description_technology .bar{
    width: 100%;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #000;
}

.description_technology .progress{
    width: 0%;
    border-radius: 20px;
    background-color: #0058aa;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: flex-end;
}

.anime-init90{
    animation-name: barAnimation90;  
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.anime-init96{
    animation-name: barAnimation96;  
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.anime-init95{
    animation-name: barAnimation95;  
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.anime-init98{
    animation-name: barAnimation98;  
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes barAnimation90 {
    from  {width: 0%}
    to {width: 90%;}

}

@keyframes barAnimation96 {
    from  {width: 0%}
    to {width: 96%;}

}

@keyframes barAnimation95 {
    from  {width: 0%}
    to {width: 95%;}

}

@keyframes barAnimation98 {
    from  {width: 0%}
    to {width: 98%;}

}

.description_technology .progress p{
    display: none;
    color: #fff;
    padding-right: 20px;
}

section.my_projects{
    width: 100%;
    margin-top: 160px;
    position: relative;
}

article.header_title{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 40px;
    z-index: 999;
    position: relative;
}

.background{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    background-color: #0058aa;
    z-index: 0;
}

article.list_projects{
    position: relative;
    z-index: 999;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.description_project{
    flex-basis: 55%;
    padding: 20px;
}

.description_project header{
    width: 100%;
    text-align: center;
}

.description_project header h2{
    color: white;
    font-size: 30px;
}

.description_project span{
    color: white;
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

.description_project a{
    display: block;
    background-color: #fff;
    padding: 10px 20px;
    color: #0058aa;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
}

.img_project{
    flex-basis: 45%;
    padding: 20px;
}

.img_project img{
    width: 100%;
}

section.end{
    width: 100%;
    display: flex;
}

.background_end{
    flex-basis: 30%;
    height: 800px;
    background-color: #0058aa;
}

@media(max-width: 900px){
    nav.navigation_header{
        display: none;
    }

    .logo{
        flex-basis: 40%;
    }

    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }

    .button_header{
        flex-basis: 60%;
    }

    .header_left article{
        flex-basis: 100%;
        margin-top: 0px;
    }

    .header_left article h1{
        margin-top: 40px;
    }

    .header_left .img_hero{
        flex-basis: 100%;
    }

    .header_left .img_hero img{
        width: 100%;
        margin: 0 auto;
        transform: translateX(0);
    }

    .my_photo{
        flex-basis: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my_photo h1{
        text-align: right;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    .my_photo h1,
    .my_photo .line{
        display: block;
        
    }
    
    .container_my_photo{
        flex-basis: 80%;
        -webkit-box-shadow: -40px 40px 5px 0px rgba(0, 88, 170,1);
        -moz-box-shadow: -40px 40px 5px 0px rgba(0, 88, 170,1);
        box-shadow: -40px 40px 5px 0px rgba(0, 88, 170,1);      
    }
    
    article.about{
        flex-basis: 100%;
    }

    article.about header h1,
    article.about .line{
        display: none;
    }

    .card{
        flex-basis: 25%;
    }

    .icon_technology{
        flex-basis: 100%;
    }

    .icon_technology img{
        width: 50%;
    }

    .shadow{
        display: block;
    }

    .line_technology{
        display: none;
    }

    .description_technology{
        flex-basis: 100%;
    }

    .my_projects article.list_projects:nth-of-type(2),
    .my_projects article.list_projects:nth-of-type(4){
        flex-direction: column-reverse;
    }


    .description_project,
    .img_project{
        flex-basis: 100%;
    }
}

@media(max-width: 754px){
    .card{
        flex-basis: 50%;
    }
}

